<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/style.css">
    <title>Пользователь</title>
    <script>
        document.createElement('aside');
        document.createElement('article');
    </script>
    <style>
        aside {
            padding: 10px;
            width: 700px;
            float: right;
        }
    </style>
</head>
<body>

<aside>
    <p><a href="/profile">Профиль</a></p>
</aside>

<a href="/users">Назад</a>
<h1>${user.email}</h1>

<form action="/users/${user.id}/update" method="post">
    <label>
        Имя
        <input type="text" name="firstName" value= ${user.firstName}>
    </label>
    <br>
    <label>
        Фамилия
        <input type="text" name="lastName" value= ${user.lastName}>
    </label>
    <br>
    <label>
        Возраст
        <input type="text" name="age" value= ${user.age}>
    </label>
    <br>
    <input type="submit" value="Сохранить">
</form>
<br><br>

<#if role == 'ADMIN'>
    <a href="/users/${user.id}/giveRoleAdmin">Дать Права Администратора</a>
</#if>
<br><br><br>
</body>
<footer>
    <#if role == 'ADMIN'>
        <h2>Комментарии Пользователем</h2>
        <table>
            <tr>
                <th class="first">Игра</th>
                <th class="first">Комментарий</th>
                <th class="first">Дата</th>
                <th class="first">Действия</th>
            </tr>
            <#list commentsByUser as comment>
                <tr>
                    <th><a href="/games/${comment.game.id}">${comment.game.title}</a></th>
                    <td>${comment.comment}</td>
                    <th class="first">${comment.date}</th>
                    <th class="first"><a href="/users/${user.id}/deleteComment/${comment.id}">Удалить</a></th>
                </tr>
            </#list>
        </table>
    </#if>
</footer>
</html>